<div style="height:50px"></div>
<h1>Twitter Mapper</h1>
<ul>
	<li><a href="/movements"><strong>Movements:</strong> Visualization that hepls to understand movents in the city</a></li>
	<li><a href="/graphs/plain_tweets"><strong>Plain View:</strong> Visualization without extra functionality of all the geolocated tweets.</a></li>
	<li><a href="/graphs/intensity"><strong>Intensity</strong> density of tweets</a></li>
	<li><a href="/graphs/intensity_small"><strong>Intensity Small:</strong> density of tweets with smaller visualization.</a></li>
</ul>

<p style="text-align:center"><a href="http://twitter.com/levhita">@levhita</a> || <a href="http://twitter.com/mlkvn">@mlkvn</a></p>