html {
	height: 100%;
	width:100%;
	margin: 0px;
	padding: 0px
}
body {
	margin: 0px 0px 0px 0px;
	height: 100%;
	width:100%;
	padding: 0px
}
#map-container {
	height:100%;
	padding:0px;
	padding-top: 50px;
}
#tools-belt {
	height:100%;
	padding:0px;
	padding-top: 60px;
}
#map-canvas {
	height: 100%;
	width: 100%;
	position:relative;
}

div#body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px
}

/* Sticky footer styles
-------------------------------------------------- */
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
}
.footer .container{
	margin:10px;
}
