[region]
bottom=20.401755
left=-103.543783
top=20.815465
right=-103.159605

[twitter]
consumer_key=your_key
consumer_secret=your_secret
access_token=your_token
access_token_secret=your_token_secret

[mongo]
host=localhost
port=27017
user=
password=